---
navbar_type: dark
permalink: /docs/

page_main_heading: Docs
page_main_heading_description: Find out all the things you need to work with GTK as a Developer.

docs:
  heading: Browse Topics
  description: Get set with the topic of your choice and explore the documentation.
  docs_list:
    - title: Getting Started
      description: Get started now by building a Hello World app and playing around it.
      icon: fas fa-cogs
      link: /docs/getting-started/
    - title: Dev Tools
      description: Learn how to setup your development environment with GTK recommended tools.
      icon: fas fa-tools
      link: /docs/dev-tools/
    - title: Language Bindings
      description: Learn to integrate your favorite programming language with GTK through bindings.
      icon: fas fa-random
      link: /docs/language-bindings/
    - title: API References
      description: Dig deep into the API references for GTK3 and GTK4.
      icon: fas fa-cubes
      link: /docs/apis/
    - title: Architecture
      description: Learn about the sub modules the GTK has been built upon.
      icon: fas fa-vector-square
      link: /docs/architecture/
    - title: Installations
      description: Figure out how to install GTK on different platforms.
      icon: fas fa-box-open
      link: /docs/installations/

articles:
  heading: Popular Articles
  description: Selected featured articles for you to get started with GTK.
  articles_list:
    - heading: How do I…?
      link: https://wiki.gnome.org/HowDoI
    - heading: Frequently asked questions sections
      link: https://docs.gtk.org/gtk4/question_index.html
    - heading: Creating your first application
      link: https://docs.gtk.org/gtk4/getting_started.html
    - heading: Your first contribution to GTK
      link: https://gitlab.gnome.org/GNOME/gtk/tree/master/CONTRIBUTING.md
    - heading: Learn about GTK's best practices
      link: https://wiki.gnome.org/Projects/GTK/BestPractices

team:
  heading: We are here to help
  description: Catch up with our core team to get answers for your questions.
  members:
    - name: Timm Bäder
      affiliation: Red Hat
      image: team-timm-bader.png
      link: https://gitlab.gnome.org/baedert/
    - name: Emmanuele Bassi
      affiliation: Igalia
      image: team-emmanuele-bassi.jpeg
      link: https://gitlab.gnome.org/ebassi/
    - name: Matthias Clasen
      affiliation: Red Hat
      image: team-matthias-clasen.png
      link: https://gitlab.gnome.org/matthiasc/
    - name: Carlos Garnacho
      affiliation: Red Hat
      image: team-carlos-garnacho.png
      link: https://gitlab.gnome.org/carlosg/
    - name: Alexander Larsson
      affiliation: Red Hat
      image: team-alexander-larsson.png
      link: https://gitlab.gnome.org/alexl/
    - name: Benjamin Otte
      affiliation: Red Hat
      image: team-benjamin-otte.png
      link: https://gitlab.gnome.org/otte/
    - name: Philip Withnall
      affiliation: Unaffiliated
      image: team-philip-withnall.png
      link: https://gitlab.gnome.org/pwithnall/
---

{% include header.html %} {% include navbar.html %}

<section class="py-4 d-flex flex-column align-items-center bg-dark text-white">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6 pr-0 pr-md-5 d-flex flex-column">
        <h1 class="display-3 pb-3">{{ page.page_main_heading }}</h1>
        <span class="text-info lead">{{ page.page_main_heading_description }}</span>
      </div>
      <div class="col-md-6 d-md-flex d-none justify-content-end align-items-center">
        <img
          src="{{ '/assets/img/wall-docs.svg' | absolute_url }}"
          class="img-fluid w-75"
          alt="GTK Docs Wallpaper"
        />
      </div>
    </div>
  </div>
</section>

<section class="py-4 bg-light" id="topics">
  <div class="container">
    <div class="row text-center d-flex justify-content-center">
      <div class="col-md-10 col-lg-7">
        <h2 class="font-weight-light mb-3">{{ page.docs.heading }}</h2>
        <span class="text-muted">{{ page.docs.description }}</span>
      </div>
    </div>
    <div class="row d-flex justify-content-center pt-5">
      {% for doc in page.docs.docs_list %}
      <div class="col-md-4 pb-3 pb-md-4">
        <div
          class="col h-100 py-5 text-center bg-white d-flex flex-column align-items-center shadow-sm shadow-hover rounded border-bottom border-primary"
          style="border-width: 2px !important"
        >
          <i class="{{ doc.icon }} fa-fw fa-3x pb-4 text-primary"></i>
          <h5>{{ doc.title }}</h5>
          <span class="text-muted small">{{ doc.description }}</span>
          <a href="{{ doc.link | absolute_url }}" class="stretched-link"></a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

<section class="py-4" id="articles">
  <div class="container">
    <div class="row text-center d-flex justify-content-center">
      <div class="col-md-10 col-lg-7">
        <h2 class="font-weight-light mb-3">{{ page.articles.heading }}</h2>
        <span class="text-muted">{{ page.articles.description }}</span>
      </div>
    </div>
    <div class="row d-flex justify-content-center pt-5">
      <div class="col-md-10 col-lg-8">
        <div class="list-group">
          {% for article in page.articles.articles_list %}
          <a
            href="{{ article.link }}"
            target="_blank"
            class="d-flex py-3 px-3 text-decoration-none text-primary border rounded shadow-sm-hover bg-light-hover justify-content-between align-items-center mb-2"
            >{{ article.heading }}<i class="fas fa-chevron-circle-right text-info"></i
          ></a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>

<section class="py-4 bg-light" id="team">
  <div class="container">
    <div class="row text-center d-flex justify-content-center">
      <div class="col-md-10 col-lg-7">
        <h2 class="font-weight-light mb-3">{{ page.team.heading }}</h2>
        <span class="text-muted">{{ page.team.description }}</span>
      </div>
    </div>
    <div class="row d-flex justify-content-center pt-5 mx-auto">
      {% for member in page.team.members %}
      <div class="col-6 col-md-4 col-lg-3 mb-3 px-0 px-md-3">
        <div class="d-flex flex-column align-items-center text-center shadow-sm-hover py-3 bg-white rounded">
          <img
            src="{{ '/assets/img/' | append: member.image | absolute_url }}"
            class="pb-2 img-fluid rounded-circle"
            style="max-width: 100px"
            alt="{{ 'GTK Team Member ' | append: member.name }}"
          />
          <span><strong>{{ member.name }}</strong></span>
          <span class="small text-muted">{{ member.affiliation }}</span>
          <a href="{{ member.link }}" class="stretched-link"></a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

{% include scripts.html %} {% include footer.html %}
