{% comment %}

this is the footer file for all the pages in the website
to make any design changes to the footer section, make changes to this file
to make changes related to the content, edit the `_data/navigation.yml`

{% endcomment %}

<footer class="container-fluid bg-dark navbar-dark text-info py-4 small">
  <div class="container">
    <div class="row">
      <div class="col-sm-5 col-lg-4 py-3 py-sm-2">
        <a href="https://www.gnome.org/"><img src="{{ '/assets/img/logo-gnome-horizontal.svg' | absolute_url }}" class="img-fluid pb-2" width="100" /></a>
        <p>GTK is hosted by GNOME.</p>
        <p>GTK is maintained by the <a href="{{ '/community#contributors' | absolute_url }}" class="text-muted font-weight-bold">GTK Team</a>.</p>
        {% assign date_arr = site.time | date_to_string | split: ' ' %}
        {% assign year = date_arr[2] %}
        <p>&copy; 1997-{{ year }}, The GTK Team. All Rights Reserved.</p>
        <p>GTK and the GTK logo are <a href="https://foundation.gnome.org/legal-and-trademarks/" class="text-muted font-weight-bold">trademarks of the GNOME Foundation</a>.</p>
      </div>
      <div class="col-sm-7 col-lg-5 py-3 py-sm-2">
        <div class="d-flex">
          {% assign menu_links = site.data.navigation.menu_links %}
          {% for section in site.data.navigation.menu_links_sections %}
            <div class="col pl-0">
              <h6 class="text-muted">{{ section.title | upcase }}</h6>
              {% assign menu_links = site.data.navigation.menu_links | where: "section", section.title %}
              <ul class="list-unstyled text-small">
                {% for link in menu_links %}
                  {% if link.footer %}
                    {% if link.external %}
                      <li><a href="{{ link.href }}" class="text-info">{{ link.name }}</a></li>
                    {% else %}
                      <li><a href="{{ link.href | absolute_url }}" class="text-info">{{ link.name }}</a></li>
                    {% endif %}
                  {% endif %}
                {% endfor %}
              </ul>
            </div>
          {% endfor %}
        </div>
      </div>
      <div class="col-sm-12 col-lg-3 py-3 py-sm-2">
        <h5>About the Site</h5>
        <ul class="list-unstyled text-small">
          <li>Hosted on <a href="{{ site.website_repo }}" class="text-muted font-weight-bold">Gitlab</a>.</li>
          <li>Powered by <a href="https://jekyllrb.com/" class="text-muted font-weight-bold">Jekyll</a>.</li>
          <li>Report <a href="https://gitlab.gnome.org/Teams/Websites/www.gtk.org/-/issues/new" class="text-muted font-weight-bold">an issue</a>.</li>
        </ul>
        <ul class="list-unstyled list-inline text-small">
          {% assign social_links = site.data.navigation.social_links %}
          {% for link in social_links %}
            <li class="list-inline-item"><a href="{{ link.href }}" rel="me" class="text-muted text-primary"><i class="{{ link.icon }}"></i></a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</footer>

</body>
</html>
